rvl_alias "clk" "clk";
RVL_ALIAS "clk" "efb0/wb_clk_i"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG CONFIGURATION=CFG_EBRUFM ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "led[0]" SITE "F4" ;
LOCATE COMP "mscl" SITE "U18" ;
LOCATE COMP "msda" SITE "U19" ;
LOCATE COMP "spi_clk" SITE "T9" ;
LOCATE COMP "spi_miso" SITE "U9" ;
LOCATE COMP "spi_mosi" SITE "AA21" ;
LOCATE COMP "spi_csn[0]" SITE "AA3" ;
LOCATE COMP "spi_csn[1]" SITE "Y4" ;
LOCATE COMP "spi_csn[2]" SITE "U7" ;
LOCATE COMP "spi_csn[3]" SITE "Y5" ;
LOCATE COMP "spi_csn[4]" SITE "W6" ;
LOCATE COMP "spi_csn[5]" SITE "V8" ;
LOCATE COMP "spi_csn[6]" SITE "Y8" ;
LOCATE COMP "spi_csn[7]" SITE "T10" ;
LOCATE COMP "led[1]" SITE "G4" ;
LOCATE COMP "led[2]" SITE "G3" ;
LOCATE COMP "led[3]" SITE "D1" ;
LOCATE COMP "led[4]" SITE "E2" ;
LOCATE COMP "led[5]" SITE "E1" ;
LOCATE COMP "led[6]" SITE "E3" ;
LOCATE COMP "led[7]" SITE "F1" ;
LOCATE COMP "pb[0]" SITE "D3" ;
LOCATE COMP "pb[1]" SITE "D4" ;
LOCATE COMP "pb[2]" SITE "F6" ;
LOCATE COMP "pb[3]" SITE "G7" ;
LOCATE COMP "sw[0]" SITE "H5" ;
LOCATE COMP "sw[1]" SITE "J5" ;
LOCATE COMP "sw[2]" SITE "J4" ;
LOCATE COMP "sw[3]" SITE "J3" ;
LOCATE COMP "clk" SITE "B10" ;
BLOCK JTAGPATHS ;
FREQUENCY NET "clk_c" 24.000000 MHz ;
